@page "/"

<PageTitle>Eduardo Passero</PageTitle>

<nav id="nav">
        <div class="brand_cover"></div>
        <img class="nav_brand" height="40" width="40" src="media/img/Me/me_brand.png" />
    <ul class="nav_links">
        @if (english)
        {
            <li><a href="#about" target="_top">About</a></li>
            <li><a href="#experiences" target="_top">Work experience</a></li>
            <li><a href="#projects" target="_top">Projects</a></li>
            <li><a href="/media/files/Eduardo_Passero_Desenvolvedor.pdf" target="_blank">Resume</a></li>
        }
        else
        {
            <li><a href="#about" target="_top">Sobre</a></li>
            <li><a href="#experiences" target="_top">Experiências</a></li>
            <li><a href="#projects" target="_top">Projetos</a></li>
            <li><a href="/media/files/Eduardo_Passero_Desenvolvedor.pdf" target="_blank">Currículo</a></li>
        }
        <li>
            <label>BR</label>
            <label class="switch">
                <input type="checkbox" @onclick="ChangeLanguage">
                <span class="slider round"></span>
            </label>
            <label>EN</label>
        </li>
    </ul>
    <ul style="list-style: none; padding: 0px 20px; display: inline-block; margin-bottom: 0 !important ;">
        <li><span class="oi oi-menu nav_menu_button" aria-hidden="true" style="width: 0px" /></li>

    </ul>
    @*<div class="crome" onclick=@(() => navbar = !navbar)></div>*@
    @*<button className="nav_mobile_button nav_close" onclick=@(() => navbar = !navbar)>

    </button>*@
</nav>

<div class="cover">
    <video class="video_bg" src="media/video/background_video.mp4" muted autoPlay loop />
    <div>
        <h1 id="name">Eduardo Passero</h1>
        @if (english)
        {
            <h3 id="subtitle">Developer .NET C#</h3>
        }
        else
        {
            <h3 id="subtitle">Desenvolvedor .NET C#</h3>
        }
    </div>

    <div class="social_buttons">
        <a href="https://www.linkedin.com/in/eduardo-passero/" class="social_button" target="_blank">LinkedIn</a>
        <a href="https://github.com/EduPassero" class="social_button" target="_blank">Github</a>
        <a href="https://wa.me/5547988475547" class="social_button" target="_blank"> Whatsapp</a>
    </div>
</div>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                @if (english)
                {
                    <h2 class="title">About me</h2>
                    <p>
                        I am a web developer with a degree in Systems Analysis and Development from SENAC. Currently, I work in user support and development.
                        <br /><br />
                        I have been married to Barbara Passero for three years, and she's the one who pulls me away from the computer to go for a walk in our free time. 
                        Additionally, I enjoy reading, playing old games like Age of Empires, and losing at online chess.
                        <br /><br />
                        In the long run, I aim to become a full-stack developer – the kind of professional who can tackle any problem or, at the very least, has an idea of how to solve it. 
                        This portfolio showcases my progress towards achieving that goal.
                    </p>
                }
                else
                {
                    <h2 class="title">Sobre mim</h2>
                    <p>
                        Sou um desenvolvedor web formado em Análise e Desenvolvimento de Sistemas pelo SENAC e atualmente trabalho como
                        suporte ao usuário e desenvolvedor.
                        <br /><br />
                        Sou casado com a Barbara Passero há três anos e é ela que me arrasta para longe do
                        computador para passear nas horas vagas. Além disso gosto de ler, jogar jogos velhos como Age of Empires e perder no Xadrez online.
                        <br /><br />
                        A longo prazo quero me tornar um desenvolvedor full stack, aquele profissional que sabe resolver qualquer problema, ou pelo
                        menos tem uma ideia de como se resolve. Este portfólio mostra meu progresso na direção desse objetivo.
                    </p>
                }
                
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col ">
                        <img class="pictures" src="media/img/Me/horses.webp" style="width: 100%" />
                    </div>
                    <div class="col ">
                        <div class="row">
                            <div class="col mb-4">
                                <img class="pictures" src="media/img/Me/me.webp" style="width: 53%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="pictures" src="media/img/Me/baloon.webp" style="width: 53%" />
                            </div>
                         </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experiences">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                 @if (english)
                {
                    <h2 class="title">Profesional Background</h2>
                    <p>
                        I have been working at Consensu Solutions in Systems for 4 years. There, I learned almost everything I know today by working on various projects. 
                        Below is a brief demonstration of my main project at the company: the development of Gestão Central Web, the web version of our ERP system."
                    </p>
                }
                else
                {
                    <h2 class="title">Experiências</h2>
                    <p>
                        Trabalho há 4 anos na Consensu Soluções em Sistemas. Lá aprendi quase tudo o que sei hoje trabalhando em diversos projetos, abaixo está uma pequena demonstração
                        do meu principal projeto na empresa hoje: o desenvolvimento do Gestão Central Web, a versão web do nosso sistema ERP.
                    </p>
                }
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <video src="media/video/home_page.mp4" autoplay controls muted height="150" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <video src="media/video/notas_fiscais.mp4" autoplay controls muted height="150" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <video src="media/video/relatorio.mp4" autoplay controls muted height="150" />
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <video src="media/video/responsivo.mp4" autoplay controls muted height="150" />
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-7">
                <p>
                    Trabalho tanto no front-end quanto no back-end para concluir minhas tarefas. Sempre que surgem dúvidas peço ajuda aos meus gestores, ou vasculho a internet em busca de soluções.
                    Sempre dou um jeito!
                    <br /><br />
                    Atualmente estou familiarizado com as tecnologias ao lado, são elas que utilizo no trabalho. Meu principal objeto de estudo no momento é .NET C#.
                </p>
            </div>
            <div class="col-12 col-md-5">
                <div class="row mb-5">
                    <div class="col"><img class="icon" src="media/img/Icons/blazor.svg"/></div>
                    <div class="col"><img class="icon" src="media/img/Icons/csharp.svg" /></div>
                    <div class="col"><img class="icon" src="media/img/Icons/sql.svg" /></div>
                    <div class="col"><img class="icon" src="media/img/Icons/bootstrap.svg" /></div>
                </div>
                <div class="row">
                    <div class="col"><img class="icon" src="media/img/Icons/entity.webp" /></div>
                    <div class="col"><img class="icon" src="media/img/Icons/javascript.svg" /></div>
                    <div class="col"><img class="icon" src="media/img/Icons/css.svg" /></div>
                    <div class="col"><img class="icon" src="media/img/Icons/dotnet.svg" /></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects">
    <div class="container">

        <h2 class="title">Meus Projetos</h2>
        <div class="row">

            <div class="col-12 col-md-6 mb-4">
                <div class="row g-0 project-card position-relative rounded-1">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <img src="media/img/Projects/movies.png" class="w-100" alt="...">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                        <h5 class="mt-0">Movies Lib</h5>
                        <p>Uma biblioteca de filmes utilizando uma API, criada em um curso de React. Vale a pena conferir!</p>
                        <a href="https://edupassero.github.io/ep_movies/" class="stretched-link"/>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="row g-0 project-card position-relative rounded-1">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <img src="media/img/Projects/costs.png" class="w-100" alt="...">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                        @if (english)
                        {
                            <h5 class="mt-0">Costs</h5>
                            <p>A project manager using Json server, created during a React JS course.</p>                            
                        }
                        else
                        {
                            <h5 class="mt-0">Projeto Costs</h5>
                            <p>Um gerenciador de projetos usando o Json server, feito em um curso de React JS</p>
                        }
                        <a href="https://edupassero.github.io/ep_costs/" class="stretched-link" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-12 col-md-6 mb-4">
                <div class="row g-0 project-card position-relative rounded-1">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <img src="media/img/Projects/costs.png" class="w-100" alt="...">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                        
                        @if (english)
                        {
                            <h5 class="mt-0">Validator</h5>
                            <p>An exercise in logic and data handling, this is a form validator made with HTML, CSS and JS</p>
                        }
                        else
                        {
                            <h5 class="mt-0">Validator</h5>
                            <p>Um exercício de lógica e tratamento de dados, é um formulário com validação feito com HTML, CSS e JavaScript</p>
                        }
                        <a href="https://edupassero.github.io/ep_movies/" class="stretched-link" />
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4">
                <div class="row g-0 project-card position-relative rounded-1">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <img src="media/img/Projects/calculator.png" class="w-100" alt="...">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                        <h5 class="mt-0">Calculadora</h5>
                        <p>Uma calculadora similar ao modelo da Apple, só que muito mais barata!</p>
                        <a href="https://edupassero.github.io/ep_costs/" class="stretched-link" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="footer">
    <div class="container">
        <div class="credits">

            <div class="text-center mb-5">
                <h5>Forjado em 2023 no fogo do verão jaraguaense por:</h5>
            </div>

            <div class="text-center mb-5">
                <h3>Eduardo Passero</h3>
            </div>
            <div class="text-center">
                <h5>Versão 2.0</h5>
            </div>

        </div>
    </div>
</section>

@code{
    public bool english { get; set; } = false;
    private void ChangeLanguage()
    {
        english = !english;
        StateHasChanged();
    }
}